* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #2e2e2e;
    color: #f6f8fc;
    box-shadow: inset 0px 10px 30px 0px rgba(0, 0, 0, 0.8);
}

h1 {
    text-align: center;
    
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}